*_local
*_local.*
elpa/
emacs.d/cider-history
emacs.d/backups
emacs.d/eshell
emacs.d/auto-save-list
emacs.d/.smex-items
emacs.d/places
emacs.d/tramp
emacs.d/literate/**/*.el
emacs.d/literate/stahlman@*
emacs.d/literate/*-local.org
emacs.d/session.*
emacs.d/recentf
emacs.d/ido.last
vim/.netrwhist
vim/eclim/**/*
emacs.d/ensime
**/.yas-compiled-snippets.el
network-security.data
**/*\[\*Org Src*
ac-comphist.dat
.cask/
.org-id-locations
.python-environments
emacs.d/abbrev_defs
emacs.d/bookmarks
emacs.d/history
*.bak
